In [1]:
# 6.5.2 Import the dependencies.
import pandas as pd
import gmaps
import requests
# import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-31 06:14:52,-23.1203,-134.9692,70.72,86,61,8.16
1,1,Ushuaia,AR,2021-07-31 06:14:52,-54.8000,-68.3000,30.96,87,48,6.02
2,2,Balotra,IN,2021-07-31 06:14:53,25.8333,72.2333,90.55,54,30,19.35
3,3,Albany,US,2021-07-31 06:10:32,42.6001,-73.9662,54.03,90,0,5.08
4,4,Celestun,MX,2021-07-31 06:14:53,20.8667,-90.4000,81.37,78,6,13.31

In [3]:
# Check datatypes 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 6.5.3 Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Celestun,MX,2021-07-31 06:14:53,20.8667,-90.4000,81.37,78,6,13.31
14,14,Vaini,TO,2021-07-31 06:14:57,-21.2000,-175.2000,76.44,83,88,25.61
16,16,Singaparna,ID,2021-07-31 06:14:58,-7.3515,108.1110,80.26,73,80,6.29
17,17,Uglyanets,RU,2021-07-31 06:14:58,51.8191,39.5961,75.29,55,0,5.79
23,23,Kutum,SD,2021-07-31 06:15:00,14.2000,24.6667,76.17,59,49,7.16
25,25,Kapaa,US,2021-07-31 06:15:01,22.0752,-159.3190,82.38,73,90,3.00
26,26,Sao Filipe,CV,2021-07-31 06:15:01,14.8961,-24.4956,75.58,85,97,4.54
38,38,Atuona,PF,2021-07-31 06:15:10,-9.8000,-139.0333,77.07,76,30,15.93
44,44,Darnah,LY,2021-07-31 06:15:12,32.7670,22.6367,86.16,51,0,20.96
46,46,Faanui,PF,2021-07-31 06:15:13,-16.4833,-151.7500,77.88,69,44,15.64

In [12]:
# Determine if there are any null values for the rows in 
preferred_cities_df.notnull().sum()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [14]:
# 6.5.4 Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4     Celestun      MX     81.37  20.8667  -90.4000
14       Vaini      TO     76.44 -21.2000 -175.2000
16  Singaparna      ID     80.26  -7.3515  108.1110
17   Uglyanets      RU     75.29  51.8191   39.5961
23       Kutum      SD     76.17  14.2000   24.6667
25       Kapaa      US     82.38  22.0752 -159.3190
26  Sao Filipe      CV     75.58  14.8961  -24.4956
38      Atuona      PF     77.07  -9.8000 -139.0333
44      Darnah      LY     86.16  32.7670   22.6367
46      Faanui      PF     77.88 -16.4833 -151.7500

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params= params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# Shoe hotel_df with Hotel Name added.
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Celestun,MX,81.37,20.8667,-90.4000,Posada Lilia
14,Vaini,TO,76.44,-21.2000,-175.2000,Keleti Beach Resort
16,Singaparna,ID,80.26,-7.3515,108.1110,Wisma Dewi Hotel
17,Uglyanets,RU,75.29,51.8191,39.5961,
23,Kutum,SD,76.17,14.2000,24.6667,Dibbo areaمنطقة دبو
...,...,...,...,...,...,...
541,Callaway,US,85.93,30.1530,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...
546,Dharchula,IN,81.45,29.8500,80.5333,Mahara Hotel
556,Tessalit,ML,89.11,20.1986,1.0114,
558,Xichang,CN,79.34,27.8964,102.2634,Xichang ibis Hotel
559,Grand Gaube,MU,75.60,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))